<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qqq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/qqq"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="dev.gs.they_are.test"/>
        <activity android:name="dev.gs.they_are.hl" />
        <activity android:name="dev.gs.they_are.og" />
        <activity android:name="dev.gs.they_are.call" />
        <activity android:name="dev.gs.they_are.not" />
        <activity android:name="dev.gs.they_are.yes" />
        <activity android:name="dev.gs.they_are.psh5" />
        <activity android:name="dev.gs.they_are.psh4" />
        <activity android:name="dev.gs.they_are.psh3" />
        <activity android:name="dev.gs.they_are.psh2" />
        <activity android:name="dev.gs.they_are.pash1freeman" />
        <activity android:name="dev.gs.they_are.help" />
        <activity android:name="dev.gs.they_are.war" />
        <activity android:name="dev.gs.they_are.Finich1" />
        <activity android:name="dev.gs.they_are.home" />
        <activity android:name="dev.gs.they_are.wan" />
        <activity android:name="dev.gs.they_are.nowan" />
        <activity android:name="dev.gs.they_are.window" />
        <activity android:name="dev.gs.they_are.lvl4" />
        <activity android:name="dev.gs.they_are.lvl3" />
        <activity android:name="dev.gs.they_are.lvl2" />
        <activity android:name="dev.gs.they_are.info" />
        <activity android:name="dev.gs.they_are.lvl1" />
        <activity android:name="dev.gs.they_are.start" />
        <activity android:name="dev.gs.they_are.wallpaper" />
        <activity android:name="dev.gs.they_are.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>